@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap&#39');

:root{

--cor-da-letra: white;
--cor-de-fundo: #00367c;
--fundo-senha: #2340c0;
--fundo-texto: #ffffff;
--borda: #0b2d55;
--fonte:"Permanent Marker", cursive;
}

body{
color: var(--cor-da-letra);
background-color: rgb(116, 125, 255);
font-family: var(--fonte);



}

.conteudo{

text-align: center;
font-size: 35px;
}

.titulo-principal{

font-size: 30px;
font-family:var(--fonte2);
color: black

}

.titulo-secundario{

font-size: 17px;


}

.imagem{
width: 10%;
}

.conteudo-titulo{
margin-top: 80px;




}


.conteudo-senha{

margin-top: 20px;
background: var(--fundo-senha);
padding: 5px;
border-bottom: 15px solid var(--borda);
border-radius: 20px;

}

#campo-senha{

background-color: var(--fundo-texto);
border:none;
color: var (--letra);
font-size: 15px;
width : 70%;

}

#campo-senha:focus{

outline:none;
}


.conteudo{
width:98%;
margin:0 auto;

}

.parametro{
background-color: var(--fundo-senha);
border: 2px solid var(--borda);
margin-top: 20px;
padding: 20px;
font-size: 20px;

}

.parametro-senha{
width: 60%;
margin: 0 auto;
font-size: 20px;
background-color: rgb(116, 125, 255);
margin: 30px;
border-radius: 10px;


}

.parametro-senha-titulo{
width: 50%;

}

.parametro-coluna-senha{
display: flex;
flex-direction: row;
justify-content: center;

}
.parametro-senha-botoes{
justify-content: center;
display: flex;

}

.parametro-senha-texto{
border-top: 2px solid var(--borda);
border-bottom: 2px solid var(--borda);
margin:0;
padding:12px;

}

.parametro-senha-botao{
cursor: pointer;
background-color: #0b2d55;
color:white;
border-bottom: 2px solid var(--borda);
padding: 12px;
font-size: 25px;


}
.parametro-senha-checkbox{
display: flex;
justify-content: left;



}
label{
font-size: 20px;


}
.checkbox{
cursor: pointer;
width: 20px;
height: 20px;

}
.barra{
background-color: #3c08fa;
height: 20px;
width: 95%;

}

.fraco{
height: 20px;
width: 20%;
background-color: red;
position:relative;
bottom: 20px;
}
.parametro-senha-textos{
 display:flex;
 justify-content: space-between;



}
.media{
  height: 20px;
  width: 60%;
  background-color: darkgoldenrod;
  position: relative;
  bottom: 20px;
}
.forte{
  height: 20px;
  width: 100%;
  background-color: rgb(0, 255, 13);
  position: relative;
  bottom: 20px;
}